.article1 {
   width: 15em;
   background-color: rgb(236, 238, 238);
   float: left;
}

.article2 {
   background-color: rgb(116, 116, 116);
   margin-bottom: 0.2em;
   overflow: auto;
}

img {
   float: right;
}

footer {
   background-color: rgb(187, 182, 182);
}