.article1 {
   width: 15em;
   background-color: rgb(236, 238, 238);
   float: left;
}

.article2 {
   display: block;
   width: 100%;
   background-color: rgb(116, 116, 116);
   margin-bottom: 0.2em;

}

img {
   float: right;
}

footer {
   clear: both;
   width: 100%;
}