.parent {
   background-color: #dbdbdb;
}

.article1 {
   width: 15em;
   background-color: #cccccc;
   float: left;
}

.article2 {
   background-color: #aaaaaa;
   margin-bottom: 0.2em;
   overflow: auto;
}

img {
   float: right;
}

footer {
   background-color: #cccccc;
}