.parent {
   background-color: #dbdbdb;


}

.flex1 {
   display: flex
}


.item1 {
   width: 15em;
   background-color: #cccccc;
}

.item2 {
   background-color: #aaaaaa;

}

.item3 {
   background-color: #aaaaaa;
   overflow: auto;
}

img {
   float: right;
}

.item4 {
   background-color: #cccccc;
}