.flex {
   display: flex;
}

.article1 {
   background-color: rgb(199, 192, 192);
}

.article2 {
   background-color: rgb(116, 116, 116);

}

.article3 {
   background-color: rgb(116, 116, 116);
   overflow: auto;
}

img {
   float: right;
}

.article4 {
   background-color: rgb(187, 182, 182);
}