* {
   margin: 0;
}

.parent {
   background-color: #dbdbdb;
   display: flex;
   align-items: flex-start;
   margin-bottom: .2em;
}

.item1 {
   width: 15em;
   background-color: #cccccc;
   flex-shrink: 0;


}

.item2 {
   background-color: #aaaaaa;
   margin-bottom: .2em;

}

.item3 {
   background-color: #aaaaaa;


}

.img {
   display: flex;
   justify-content: end;
}

.item4 {
   background-color: #cccccc;
}